In [ ]:
from IPython.display import Image  
# get the image
Image(url="DataPipeline.jpeg",)

In [ ]:
from IPython.display import Image
# get the image
Image(url="Measures-of-Money-Supply.jpeg",)

## Data Pipeline Overview

### Key Feautres:

To me, a successful datapipeline should do the following:

1) Automate data extraction and wrangling. The work is done upfront.  Once code is final, little work is required to maintain it.    

2) Produce reusauble code so others can use. Custom python data pull and data wrangle modules make a user friendly API.

3) Produce datasets that are optimized for aggregations. In otherwords, datasets that can be loaded and used for analysis in other applications. I prefer to work with single flat files or dataframe objects if resourses permit.  Once DataPull functions are written and automated, the focus is primarily on doing analysis. 

For this exercise, I built several costum python modules. These libraries could be made availible on gitlabs.   

### Documentation
DataPull:

pull_data(): 

Pulls data from 3 API endpoints.  Automatically loops through each endpoint, pulls all avaible data, appends and merges them together.  The result is one raw dataset that can be used for more in-depth analysis, including aggregations and dataqualty checks.  

DataWrangle:

Cleans, formats and does other custom aggregations to the data pulled from FRED.  Cleans column headings, creates year and month columns.  This module is created seperate from DataPull because there will be a continual need to add new functions in the fututure.  It is also good to keep raw data in its original format to troubleshoot potential issues.  
fuctions:

#### clean_data(data)
accepts dataframe object.


#### DQ_H6Measure(result_set,'Monthly','NSA',2022)

Parameters: 
result_set: datframe object. 


frequency: string - frequency of data requested: 'Monthly', 'Yearly', etc. 


season_adj_short: string- provide seasonal adjustment paramter i.e. "NSA"


# Automation

For automation, I use

In [1]:
import DataPull as dp
import pandas as pd

In [ ]:
pull_data=dp.DataPull()

In [ ]:
fetch_data=pull_data.data_pull()

In [ ]:
fetch_data.to_csv('result_set.csv')

In [2]:
result_set=pd.read_csv('../result_set.csv')

/Users/pwitt/Desktop/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Explore Data

Explore Data - check for columns, datatypes, etc.  Add columns for Year and Month.  Makes it easier for aggregations and filtering. Also will need to clean column names and convert datatypes.  The seperate module makes it easier to add things that are needed in the future. It also makes it easier to repurpose for other datasets.

In [3]:
result_set.columns

Index(['Unnamed: 0', 'series_id', '@realtime_start', '@realtime_end', '@date',
       '@value', 'id_x', 'realtime_start', 'realtime_end', 'title',
       'observation_start', 'observation_end', 'frequency', 'frequency_short',
       'units', 'units_short', 'seasonal_adjustment',
       'seasonal_adjustment_short', 'last_updated', 'popularity',
       'group_popularity', 'notes', 'release_id', 'id_y', 'name'],
      dtype='object')

In [4]:
result_set.dtypes

Unnamed: 0                    int64
series_id                    object
@realtime_start              object
@realtime_end                object
@date                        object
@value                       object
id_x                         object
realtime_start               object
realtime_end                 object
title                        object
observation_start            object
observation_end              object
frequency                    object
frequency_short              object
units                        object
units_short                  object
seasonal_adjustment          object
seasonal_adjustment_short    object
last_updated                 object
popularity                    int64
group_popularity              int64
notes                        object
release_id                    int64
id_y                          int64
name                         object
dtype: object

In [5]:
import importlib
import DataWrangle as DW

In [6]:
#importlib.reload(DataWrangle)

Apply data clean module. Adds Month Year.  Should chage data types as well.  
There are records with non-integers in the vlaue column.  Requires more work to clean

In [7]:
DW.DataWrangle.clean_data('self',result_set)

In [8]:
result_set.columns

Index(['Unnamed: 0', 'series_id', 'realtime_start', 'realtime_end', 'date',
       'value', 'id_x', 'realtime_start', 'realtime_end', 'title',
       'observation_start', 'observation_end', 'frequency', 'frequency_short',
       'units', 'units_short', 'seasonal_adjustment',
       'seasonal_adjustment_short', 'last_updated', 'popularity',
       'group_popularity', 'notes', 'release_id', 'id_y', 'name', 'year',
       'month'],
      dtype='object')

In [9]:
##apply data quality function. Takes in parameters that allows the logic to be applied to series from Fred. 
## Lots more could be done to customize this function.

In [33]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [39]:
importlib.reload(DW)

In [40]:
#'DEMDEPNS','MDLNM','CURRNS']

In [52]:
result_set[(result_set.series_id=='MDLNM')&(result_set.date=='2022-07-01')]['value']

2358369    13325.9
Name: value, dtype: object

In [ ]:
result_set[(result_set.series_id=='MDLNM')&(result_set.date=='2022-07-01')]['value']

In [57]:
result_set[(result_set.series_id=='CURRNS')&(result_set.date=='2022-07-01')]

,Unnamed: 0,series_id,realtime_start,realtime_end,date,value,id_x,realtime_start,realtime_end,title,...,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes,release_id,id_y,name,year,month
2292141,2292141,CURRNS,2022-10-23,2022-10-23,2022-07-01,2184.9,CURRNS,2022-10-23,2022-10-23,Currency Component of M1,...,NSA,2022-09-27 12:04:08-05,32,57,"The currency component of M1, sometimes called...",21,21,H.6 Money Stock Measures,2022,7

In [56]:
DW.DataWrangle.DQ_H6Measure('self',result_set,'Monthly','NSA',2022)

,date,Currency Component of M1,Demand Deposits,Other Liquid Deposits: Total,sum_from_component,groupTotal,solution
0,2022-01-01,2134.100,4757.900,13657.300,20549.300,20549.400,-0.100
1,2022-02-01,2142.400,4691.700,13694.100,20528.200,20528.100,0.100
2,2022-03-01,2165.300,4811.800,13823.800,20800.900,20800.900,0.000
3,2022-04-01,2175.600,4878.300,13763.900,20817.800,20817.800,0.000
4,2022-05-01,2180.700,4933.100,13424.200,20538.000,20537.900,0.100
5,2022-06-01,2183.700,4947.200,13404.500,20535.400,20535.400,0.000
6,2022-07-01,2184.900,4960.900,13325.900,20471.700,20471.700,-0.000
7,2022-08-01,2185.800,5181.500,13012.900,20380.200,20380.200,0.000

In [44]:
#run for all years in API.  Export to file for interactive Tableau Dashboard.

In [60]:
DW.DataWrangle.DQ_H6Measure(result_set,'Monthly','NSA')

TypeError: DQ_H6Measure() missing 1 required positional argument: 'season_adj_short'

In [45]:
DW.DataWrangle.DQ_H6Measure('self',result_set,'Monthly','NSA').to_csv("../complete_dataset.csv")

In [48]:
%%html
<div class='tableauPlaceholder' id='viz1666587658946' style='position: relative'><noscript><a href='#'><img alt='M1 Time Series ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SZ&#47;SZTHTXY7D&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;SZTHTXY7D' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SZ&#47;SZTHTXY7D&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1666587658946');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='877px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>