In [76]:
from IPython.display import Image

Image(url="money-supply.jpeg")

# H.6 Money Stock Measures

An Analysis presented to the Federal Reserve Board 

Tasks to be completed:

Using the St. Louis FRED API, pull data on monthly, non-seasonally adjusted M1 and its sub-components from January 2022 through August 2022, inclusive. 

M1 is one of two money stock measures MPOA publishes on the H.6 statistical release.
The sub-components of M1 include currency, demand deposits, and other liquid deposits.

Data on monthly, non-seasonally adjusted M1 and its sub-components can be referenced from FREDâ€™s H.6 Money Stock Measure, Release Table 3 (https://fred.stlouisfed.org/release/tables?rid=21&eid=1217611). 

Calculate M1 for each month in the above range by summing, for a given month, the M1 sub-components. 
Create an output CSV with the following information:


Col 1:  Date of M1 observation in yyyy-mm format

Col 2:  Pulled monthly, non-seasonally adjusted M1 value in $billions from FRED

Col 3:  Calculated monthly, non-seasonally adjusted M1 value in $billions constructed from M1 sub-components pulled from FRED

Col 4:  Difference between column 2 and column 3 values in $billions

We are expecting an output CSV containing nine rows (one row of labels and eight rows of M1 data) and four columns.  An example of the expected output for December 2021 would look like: 

date, pulled_m1, calculated_m1, difference

In [66]:
import DataPull as dp
import pandas as pd

In [77]:
pull_data=dp.DataPull()

DataPull
DataPull Class Invoked. This is a draft demonstration. Author Paul Witt.  Original Work.

In [ ]:
fetch_data=pull_data.data_pull()

In [ ]:
fetch_data.to_csv('result_set.csv')

In [2]:
#result_set=pd.read_csv('../result_set.csv')

/Users/pwitt/Desktop/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Explore Data

Explore Data - check for columns, datatypes, etc.  Add columns for Year and Month.  Makes it easier for aggregations and filtering. Also will need to clean column names and convert datatypes.  The seperate module makes it easier to add things that are needed in the future. It also makes it easier to repurpose for other datasets.

In [102]:
result_set.columns

Index(['Unnamed: 0', 'series_id', 'realtime_start', 'realtime_end', 'date',
       'value', 'id_x', 'realtime_start', 'realtime_end', 'title',
       'observation_start', 'observation_end', 'frequency', 'frequency_short',
       'units', 'units_short', 'seasonal_adjustment',
       'seasonal_adjustment_short', 'last_updated', 'popularity',
       'group_popularity', 'notes', 'release_id', 'id_y', 'name', 'year',
       'month'],
      dtype='object')

In [103]:
result_set.dtypes

Unnamed: 0                            int64
series_id                            object
realtime_start                       object
realtime_end                         object
date                         datetime64[ns]
value                                object
id_x                                 object
realtime_start                       object
realtime_end                         object
title                                object
observation_start                    object
observation_end                      object
frequency                            object
frequency_short                      object
units                                object
units_short                          object
seasonal_adjustment                  object
seasonal_adjustment_short            object
last_updated                         object
popularity                            int64
group_popularity                      int64
notes                                object
release_id                            int64
id_y                                  int64
name                                 object
year                                  int64
month                                 int64
dtype: object

In [104]:
import importlib
import DataWrangle as DW

In [105]:
importlib.reload(DW)

Apply data clean module. Adds Month Year.  Should chage data types as well.  
There are records with non-integers in the vlaue column.  Requires more work to clean

In [106]:
DW.DataWrangle.clean_data(result_set)

In [107]:
result_set.columns

Index(['Unnamed: 0', 'series_id', 'realtime_start', 'realtime_end', 'date',
       'value', 'id_x', 'realtime_start', 'realtime_end', 'title',
       'observation_start', 'observation_end', 'frequency', 'frequency_short',
       'units', 'units_short', 'seasonal_adjustment',
       'seasonal_adjustment_short', 'last_updated', 'popularity',
       'group_popularity', 'notes', 'release_id', 'id_y', 'name', 'year',
       'month'],
      dtype='object')

In [108]:
##apply data quality function. Takes in parameters that allows the logic to be applied to series from Fred. 
## Lots more could be done to customize this function.

In [109]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [110]:
importlib.reload(DW)

In [112]:
x=DW.DataWrangle.DQ_H6Measure(result_set,'Monthly','NSA',2022)

run data

In [116]:
x.calculated_m1-x.pulled_m1.round(1)

0   -0.100
1    0.100
2    0.000
3    0.000
4    0.100
5    0.000
6   -0.000
7    0.000
dtype: float64

In [44]:
#run for all years in API.  Export to file for interactive Tableau Dashboard.

In [90]:
DW.DataWrangle.DQ_H6Measure(result_set,'Monthly','NSA')

run data

,date,Currency Component of M1,Demand Deposits,Other Liquid Deposits: Total,sum_from_component,groupTotal,solution
0,1959-01-01,28.400,113.400,nan,141.800,142.200,-0.400
1,1959-02-01,28.200,110.800,nan,139.000,139.300,-0.300
2,1959-03-01,28.300,109.800,nan,138.100,138.400,-0.300
3,1959-04-01,28.300,111.100,nan,139.400,139.700,-0.300
4,1959-05-01,28.500,109.800,nan,138.300,138.700,-0.400
...,...,...,...,...,...,...,...
759,2022-04-01,2175.600,4878.300,13763.900,20817.800,20817.800,0.000
760,2022-05-01,2180.700,4933.100,13424.200,20538.000,20537.900,0.100
761,2022-06-01,2183.700,4947.200,13404.500,20535.400,20535.400,0.000
762,2022-07-01,2184.900,4960.900,13325.900,20471.700,20471.700,-0.000
763,2022-08-01,2185.800,5181.500,13012.900,20380.200,20380.200,0.000

In [92]:
DW.DataWrangle.DQ_H6Measure(result_set,'Monthly','NSA').to_csv("../complete_dataset.csv")

run data

In [48]:
%%html
<div class='tableauPlaceholder' id='viz1666587658946' style='position: relative'><noscript><a href='#'><img alt='M1 Time Series ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SZ&#47;SZTHTXY7D&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;SZTHTXY7D' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SZ&#47;SZTHTXY7D&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1666587658946');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='877px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>